---
layout: bestiario
image: 
  banner: images/Juanzombis.jpg
---
  
<h2>Fichas bibliográficas</h2>

<body id="bestiario">
<div class="posts clearfix">

  {% for post in site.categories.zombibib %}
  
    <article class="post">    
     
     <div class="eyebrow"><h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
  
       <div class="entry">
      	
       <!-- <p>{{ post.desc }}</p> maybe needs an if? 
-->
         <h4>{{ post.author }}</h4>
        {{ post.desc }}
        {{ post.content | truncatewords:40}}
   
       </div>
      
    </article>
      
  {% endfor %}

  </div>
  </body>
  
<h2>Imágenes</h2>
  
{% for post in site.categories.zombiimagen %}
  
 <a href="{{post.url | prepend: site.base.url }}"{{post.title}}>{{post.title}}</a>
  
  {% endfor %}
 
