---
layout: bestiario
image: 
  banner: images/first-post.png
---
  
<h3>Annotated Bibliography</h3>

<body id="bestiario">
<div class="posts clearfix">

  {% for post in site.categories.zombibib %}
  
    <article class="post">    
     
     <div class="eyebrow"><h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
      	<p>{{ post.desc }}</p>
        {{ post.content | truncatewords:40}}
   
       </div>
      
    </article>
      
  {% endfor %}

  </div>
  </body>
  
<h3>Imágenes</h3>
  
{% for post in site.categories.zombiimagen %}
  
  <li><a href="{{post.url | prepend: site.base.url }}"{{post.title}}>{{post.title}}</a></li>
  
  {% endfor %}
  
-->
