<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
  
<!--Styles and fonts-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
    
  </head>

  <body id="home">
    <div class="content-wrapper">

    {% include masthead.html %}

      <div class="container">
        <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div>
      
      <div id="main" role="main" class="container" line-height: 1.4; maxwidth=70%;>
       <p style="font-family:georgia;">
        Desde el primer contacto entre europeos y caribeños se construye un vocabulario de monstruos para justificar la explotación del Caribe. El proyecto <i>Bestiario caribeño</i> tiene como objetivo criticar los usos y las representaciones de los monstruos en la literatura, las artes, las ciencias y la política, para evaluar el impacto discursivo y práctico del bestiario.
         <br> </br>
        El proyecto fue iniciado bajo la dirección de Persephone Braham con los investigadores Dantaé Garee Elliott, Elena González Sánchez, Eduardo Martín Macho, Nancy Elizabeth Naranjo, Carmen Raya Nájera, Dominique Roberts, Nayra Rodríguez Hernández, Bárbara Romero Petidier, Fernando Ruiz García, Sandra Vieyra, y Álvaro Villar Cobo del seminario <i>Azúcar, salsa y santería</i> en primavera de 2018. </p>
        <img src="{{ site.baseurl }}/images/EquipoZombi2018.png" style="width:35%;"> <img src="{{ site.baseurl }}/images/EquipoZombi2018-pertubado.png" style="width:35%;">
      </div>

    </div>    <!-- /content-wrapper -->

    {% include footer.html %}
    {% include analytics.html %}
    
  </body>
</html>
